@media screen and (max-width:1220px) {
    .container2 {
        flex-direction: column;
        flex-wrap: wrap;
        margin: -20px 25px 5px 12px;
        
    }
    
}
@media screen and (max-width:1000px) {
    .container-nav {
        flex-direction: column;
        flex-wrap: wrap;
        margin: -20px 25px 5px 12px;
    }
/* nav */
    .nav-toggle {
        display: block;
    }

    .main-nav {
        overflow: initial;
    }

    .nav-links {
        position:absolute;
        background-color: rgb(224, 31, 31);
        padding-block: 80px;
        gap: 20px;
        left: -100%;
        top: 100%;
        width: 100%;
        transition: 0.2s ease-in-out;
        padding-block: 20px;
        align-items: center;
    }

    .nav-links.active {
        left: 0;
    }

    ul {
        flex-direction: column;
    }

 /* footer */
 .footer-container {
    flex-direction: column;
    gap: 40px;
    text-align: center;
    align-items: center;
}

.link-cloumn {
    align-items: stretch;
}
}


@media screen and (max-width:320px) {
.star {
flex-direction: column;
}
}